/* Setter margen (margin) og utfylling  (padding) til 0.*/
body {
	margin:0;
	padding:0;

}

#body-container {
	width:415px; 
	height:500px; 
	margin:0 auto; 
	border:1px solid #3285ef; 

}

.glossary-container{
	clear: both; /*Dette vil ikke tillate noen elementer som flyter på noen av sidene*/

}

.content-container{
	height:430px;/*Setter høyden konstant til 430 PX for content contain klassen*/
	width:415px;/* Setter bredden konstant til 415 PX for content contain klassen*/
	overflow:auto;/
	font-family: 'Arial',Verdana,Tahoma;/*Tar standard fonten "arial"*/
	font-size: 10pt;/**/
	clear:both; /* Dette vil ikke tillate noen elementer som flyter på noen av sidene*/
}

/*Definerer egenskaper for alle div objekter som ligger innen body container elementet og tilhører klassen body container*/

.content-container div {
	border-bottom: 1px #666666 solid; /*For adskille hver gruppe given fargen til nedre rammeside som #666666 (gray) med 1px*/
}

.content-container p.return-to-top {
	color: #0066FF; 
	text-decoration: underline; 
	text-align: Right; 
	margin-right: 10px; 
	cursor: pointer; 

}

.firstUL{
	padding-left:10px; /*Utfylling (padding) settes til 10px*/
	padding:0px 0px 0px 10px; 
	margin:0px; /* Setter alle marger til 0 px*/
	background-color: #3285ef; 

}
.firstul li {
	Background:;
	display: inline;
	font-family: 'arial',verdana,tahoma;
	font-size: 16pt;
	font-weight:bold;
	padding: 10px 15px 22px;
	line-height: 70px;
	cursor: pointer;
}
